@font-face {
	font-family: fontSatoshi;
	src: url(fonts/Satoshi-Variable.ttf);
}

html{
	margin-left: 20%;
	margin-right: 20%;
	font-family: fontSatoshi;
	background-color: rgb(32, 29, 29);
	color: #faebd7;
}


.profile_info img {
	display: block;
	border-radius: 50%;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
}

.profile_info h1{
	text-align: center;
	padding-bottom: 0;
	line-height: 0.5;
}

.profile_info h3{
	text-align: center;
	padding-top: 0;
}

.profile_socials {
  display: flex;
  justify-content: center;
	gap: 5px;
}

.profile_socials button {
	width: 40px;
	height: 40px;
  border: 2px solid #faebd7;
  background: transparent;
  cursor: pointer;
  padding: 5px;    
  display: inline-flex;     
  align-items: center;     
  justify-content: center; 
  color: #faebd7;
  border-radius: 8px;   
}

.profile_socials button:hover {
  background-color: rgba(250, 235, 215, 0.1);
}

.profile_socials button img {
  width: 20px;
  height: 20px;
  display: block;
  background: transparent;
	
	
}

.about_me {
	width: 500px;
}

.personal_info p{
	text-align: justify;
	padding-bottom: 5px;
}


