@font-face {
	font-family: fontSatoshi;
	src: url(fonts/Satoshi-Variable.ttf);
}

html{
	margin-left: 30%;
	margin-right: 30%;
	font-family: fontSatoshi;
	background-color: rgb(32, 29, 29);
	color: #faebd7;
}


.profile_info img {
	display: block;
	border-radius: 50%;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
}

.profile_info h1{
	text-align: center;
	padding-bottom: 0;
	line-height: 0.5;
	margin-bottom: 1px;
}

.profile_info h2{
	text-align: center;
	padding-top: 0;
	margin-bottom: 1px;
	line-height: 0.5;
}

.profile_info h3{
	text-align: center;
	padding-top: 0;
}

.profile_socials {
  display: flex;
  justify-content: center;
	gap: 5px;
}

.profile_socials button {
	width: 40px;
	height: 40px;
  border: 2px solid #faebd7;
  background: transparent;
  cursor: pointer;
  padding: 5px;    
  display: inline-flex;     
  align-items: center;     
  justify-content: center; 
  color: #faebd7;
  border-radius: 8px;   
}

.profile_socials button:hover {
  background-color: rgba(250, 235, 215, 0.1);
}

.profile_socials button img {
  width: 20px;
  height: 20px;
  display: block;
  background: transparent;
	
	
}

.personal_info {
	display: flex;
}
.personal_info h3{
	margin-top: 0;
}

.about_me {
	align-self: left;
	flex: 0 0 80%;
	margin-top: 10px;
	margin-right: 20px;
	border: 2px solid #faebd7;
	padding: 15px;
	border-radius: 5px;
}



.about_me p{
	text-align: justify;
	padding-bottom: 5px;
}

.personal_experiences{
	flex: 0 0 18%;
	align-self: right;
	margin-left: auto;
	margin-top: 10px;
	border: 2px solid #faebd7;
	padding: 15px;
	border-radius: 5px;

}

.experience_item{
	font-size: 0.9rem;
}

.experience_year{
	
}
